Cape Consumer files.zip
ESSF.zip
credentials.zip
index.php.bak
passthru.php
plpdoc (cacofonix.plp.co.za) (K) - Shortcut.lnk
plpuser (rome) (H) - Shortcut.lnk
smtp4dev.exe
test.php

/1590
/AAG
/AAG1
/Aldes_Business_Portal
/Aldes_Business_Portal1
/Altech
/Altech1
/bank
/blue
/Blue Sky Mobile Application
/blueSky
/bluSky
/Bolster
/Cape Consumer files
/capecon
/Checker
/credentials
/essentials
/ESSF
/friday_backup
/fusioncharts-suite-xt
/Google
/helloteacher
/helloteacherels
/hybridauth
/ioss
/khulana
/listening_service2
/login
/login2
/lsdumps
/Mandrill
/Member_Checker
/Member_Checker2
/Member_Checker3
/Mobile-Detect
/mtn
/MyPA
/MyPA1
/New folder
/New folder (2)
/NewE
/NuPA
/NuPA7
/Partner_Plus
/Passthru
/pChart
/Pub2
/Pub2.old
/Pub3
/Pub4
/Query1
/reality
/realityTest2
/realityTest4
/realityTest5
/Reality_Test
/Remote_test
/Rosebank
/Sanlam
/seriti
/SMS_Listener2
/SMS_Test
/Stanchart
/stBank
/svc
/Telesave
/telkom
/Test10
/Test18
/Test19
/Test20
/Test21
/Test23
/Test23 - Copy
/Test25
/Test26
/Test28
/Test30
/Test31
/timetable
/tt
/video
/Videos
/webservice test
/Web_Prac
/ws
/__MACOSX
/ bytes
/ bytes free